.fas { margin-left: 0.5em; }

.optionField {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease-out;
}

.optionField.active {
  border: 2px solid grey;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.optionValue { margin-right: 1em; }

.optionValue .fas { font-size: 75%; opacity: 0; }

.optionValue:hover .fas { opacity: 1; }


.process-area { display: inline-block; width: 20em; }